<div class="form-inline">
    <div class="form-group">
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">library_music</i>
                <input id="input-rockola" name="login" type="text" class="js-input-rockola reproductor validate form-control" required>
                <label for="input-rockola">Nombre de la rockola</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12 center-align">
                <button class="btn waves-effect waves-light right" id="js-boton-ingresar-rockola" type="submit" name="action">Comenzar!
                    <i class="material-icons right">fast_forward</i>
                </button>
            </div>
        </div>
    </div>
</div>
