
<head>
    <% include ./partials/head %>
</head>
<body class="rockola-container">
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper nav-rockola center">
                    <a href="#!" class="logo">Rockola</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-fluid container-rockola">
        <div class="row">

            <div class="col s7">
                <h3>Busqueda</h3>
                <div class="form-inline">
                    <div class="form-group col-md-9">
                        <input type="text" class="form-control" id="busqueda" placeholder="Buscar"/>
                    </div>
                    <button class="btn btn-primary" id="js-boton-enviar">Buscar!</button>
                </div>

                <div id="grid" class="col l12 grid listado collection">


                </div>
            </div>

            <div class="listado col s5">
                <span class="white-text">
                    <h3>
                        Listado de Temas
                    </h3>
                </span>
                <ul class="collection lista-de-temas lista-de-temas-clientes" id="body-lista-reproduccion">
                </ul>
            </div>
        </div>

    </div>
    <script src="/js/lib/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="/js/lib/jsrender.min.js" type="text/javascript"></script>

    <script src="js/app/rockola.js"></script>
    <script src="js/app/service/service.js"></script>
    <script src="js/app/service/tema/tema.js"></script>
    <script src="js/app/ui/ui.js"></script>
    <script src="js/app/ui/cliente/cliente.js"></script>    
</body>

<script id="bodyListaTemplate" type="text/html" >

    <li class="collection-item avatar">
        <div class="col l3">
            <img src="{{:thumbnail}}">
        </div>
        <div class="col l8">
            <span class="title">{{:titulo}}</span>
            <p></p>
        </div>
        <div class="col l1">
            <a href="#!" class="secondary-content">
                <div class="chip ">{{:nombreUsuario}}</div>
            </a>
        </div>
    </li>
</script>

<script id="bodyGridTemplate" type="text/html" >
    <div class="col l3 ">
        <div class="z-depth-3 card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img id="{{:video.videoId}}" class="grid-tema" src="{{:video.urlImagen}}" alt="{{:video.titulo}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    <span>{{:video.titulo}}</span>
                </span>
            </div>
        </div>
    </div>

   

</script>

