
<head>
    <title>Rockola!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>ROCKOLA</h1>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="link-tema">Url:</label>
                        <input type="text" class="form-control" id="link-tema" placeholder="Ingresá la url de tu tema!!"/>
                    </div>
                    <button class="btn btn-primary" id="js-boton-enviar">Agregar!</button>
                </form>
            </div>
            <div class="col-md-6">
                <table class="table" id="lista-reproduccion">
                    <thead>
                        <tr>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody id="body-lista-reproduccion">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/js/lib/jquery-2.2.3.min.js" type="text/javascript"></script>
    
    <script src="js/app/rockola.js"></script>
    <script src="js/app/service/service.js"></script>
    <script src="js/app/service/tema/tema.js"></script>
    <script src="js/app/ui/ui.js"></script>
    <script src="js/app/ui/cliente/cliente.js"></script>    
</body>
