<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <input name="link-tema" placeholder="Ingresá la url de tu tema!!" />
                <button id="js-boton-enviar">Agregar!</button>
            </div>
            <div class="col-md-6">
                <table class="table" id="lista-reproduccion">
                    <thead>
                        <tr>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>