<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <input type="text" placeholder="Ingresa tu nombre!!">
            </div>
        </div>
    </body>
</html>