<!DOCTYPE html>
<head>
    <% include ./partials/head %>
</head>
<body class="rockola-container-reproductor">
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper violeta center">
                    <a href="#!" class="logo">Rockola</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div id="main-container">
            <div class="video-container video-background">
                <div id="player"></div>
            </div>
            <br>
            <div class="container-fluid container-rockola">
                <div class="row">
                    <div class="col s12 m4 l2">
                        <div class="row">
                            <br>
                            <div id="js-btn-siguiente" class="col s12">
                                <a class="waves-effect waves-light btn violeta"><i class="material-icons right">fast_forward</i>siguiente</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="tiempo-de-reproduccion">
                                    <option value="0">Indefinido</option>
                                    <option value="300">5 Minutos</option>
                                    <option value="600">10 Minutos</option>
                                    <option value="900">15 Minutos</option>
                                </select>
                                <label>Tiempo de Reproducción</label>
                            </div>                        
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="container">
                        <a href="#" data-activates="body-lista-reproductor" class="button-collapse top-nav full hide-on-large-only">
                            <i class="material-icons">list</i>
                        </a>
                    </div>
                    <ul id="body-lista-reproductor" class="side-nav fixed lista-de-temas">
                    </ul>
            </div> 
        </div>
    </main>

    <script src="js/lib/socket.io.js"></script>

    <script src="/js/app/rockola.js" type="text/javascript"></script>
    <script src="/js/app/service/service.js" type="text/javascript"></script>
    <script src="/js/app/service/tema/tema.js" type="text/javascript"></script>
    <script src="/js/app/ui/ui.js" type="text/javascript"></script>
    <script src="/js/app/ui/reproductor/reproductor.js" type="text/javascript"></script>
    <script src="js/app/ui/reproductor/reproductor-vista.js" type="text/javascript"></script>
</body>

<script id="bodyListaTemplate" type="text/html" >
    <li class="collection-item">
        <div class="row">
            <div class="col s4">
                <img class="responsive-img tooltipped" src="{{:thumbnail}}" data-position="left" data-delay="30" data-tooltip="{{:nombreUsuario}}">
            </div>
            <div class="col s8">
                <p>{{:titulo}}</p> <span></span>
            </div>
        </div>
    </div>
</li>
</script>


<script src="js/app/sockets/reproductor/reproductor.js"></script>
