<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body class="rockola-container">
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper nav-rockola center">
                        <a href="#!" class="logo">Rockola</a>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <br>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12 l7">
                        <div class="row">
                          <div class="video-container">
                              <div id="player"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div id="js-btn-siguiente" class="col s12 m3 right">
                            <a class="waves-effect waves-light btn purple"><i class="material-icons right">fast_forward</i>siguiente</a>
                          </div>
                        </div>
                    </div>
                    <div class="col s12 l5">
                        <span class="white-text text-darken-2">
                            <h2>
                                Listado de Temas
                            </h2>
                        </span>
                        <ul class="collection lista-de-temas" id="body-lista-reproductor">
                        </ul>
                    </div>
                </div>

            </div>
        </main>

        <script src="/js/app/rockola.js" type="text/javascript"></script>
        <script src="/js/app/service/service.js" type="text/javascript"></script>
        <script src="/js/app/service/tema/tema.js" type="text/javascript"></script>
        <script src="/js/app/ui/ui.js" type="text/javascript"></script>
        <script src="/js/app/ui/reproductor/reproductor.js" type="text/javascript"></script>
    </body>
    <script id="bodyListaTemplate" type="text/html" >
        <li class="collection-item avatar">
            <div class="col l3">
                <img src="{{:thumbnail}}">
            </div>
            <div class="col l8">
                <span class="title">{{:titulo}}</span>
                <p></p>
            </div>
            <div class="col l1">
                <a href="#!" class="secondary-content">
                    <div class="chip">{{:nombreUsuario}}</div>
                </a>
            </div>
        </li>
    </script>
</html>
