.rockola-container{
    background-image: url("../img/fondo-rockola2.jpg");
    background-size: cover;

}

.container-rockola-cliente{
    margin-left: 75px !important;
    margin-right: 75px !important;
    
}

.nav-rockola{
    background-color: rgba(82,7,76,1) !important;
}

.collection .collection-item {
    background-color: rgba(193, 193, 193, 0.33);
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid rgba(187, 179, 179, 0.27);
}

.collection {
    border: none !important;
    overflow-y: scroll;
    max-height: 460px;
}

.collection .collection-item.avatar .title {
    color: white;
}

.logo {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 45px;
    font-weight: 700;
}

.collection .collection-item.avatar {
    min-height: 115px;
    padding-left: 0px;
    position: relative;
}

.listado {
    max-height: 600px;    
    overflow: auto;
    background: rgba(0,0,0,0.35);
}

.nombre-usuario{
    color: whitesmoke;
    font-weight: bold;
}

html {
    color: #ffffff !important
}

/*
 *  STYLE 15
 */

.collection::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.collection::-webkit-scrollbar
{
    width: 10px;
}

.collection::-webkit-scrollbar-thumb
{
    border-radius: 10px;    
    background-image: -webkit-gradient(linear,
        40% 0%,
        75% 84%,
        from(rgba(82,7,76,1)),
        to(rgba(82,7,76,1)),
        color-stop(.6,rgb(136, 68, 160)))
}

.form-group input{
    width : inherit;
}

.grid div img {    
    max-width: 100%;
}

.grid.listado {
    margin-top: 30px;
    max-height: 400px;        
}

.transition {
    cursor: pointer;
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);
}

#busqueda{
    width: 350px;
}
